<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <footer th:fragment="pie-pagina" class="footer mt-auto py-3 bg-light w-100" style="position: relative !important; clear: both !important;">
        <div class="container">
            <span class="text-muted">
                &copy; 2026 TripApp, Inc. | WebApp Desarrollada con Spring Boot | Demo Clase | &middot; 
                <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
            </span>
        </div>
    </footer>

</body>
</html>